
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/app.css">
</head>
<body>


<div class="container">
        <div class="row flex-column-reverse flex-md-row">
            <% parsedData["Search"].forEach(function(movie){ %>
            <div class="col-md-4">
                <div class="card">
                   <div class="card-header">
                      <img class="card-img" src="<%= movie["Poster"] %>" alt="Card image">
                   </div>
                   <div class="card-body">
                      <h1 class="card-title"><%= movie["Title"] %></h1>
                      <a class="trailer-preview" href="#" target="new">
                         <i class="fa fa-play" aria-hidden="true"></i>
                         </a>
                   </div>
                </div>
            </div>
            <% }) %>
        </div>
    </div>
</body>
</html>